name: Deploy Node.js backend to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write   # REQUIRED for Azure OIDC login
  contents: read

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22.x"

      - name: Install backend dependencies
        working-directory: aca
        run: npm install

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-app
          path: aca

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write     # REQUIRED for Azure login
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-app

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_636DEDBB1E8843F59A1409052A287E99 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_31216930984A4FF2807E8CF6D20CB232 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_287DB77ECF4841C4A5C36F2DD2E43C54 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "Acadmichub"
          package: .
